<%= javascript_include_tag "targetscore", "data-turbo-track": "reload" %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label "Target score: " %><span id="target_score_value"></span>
    <div class="slider-container">
      <%= f.range_field :target_score, list: "values", min: "0", max: "100", value: @user.target_score, step: 10, class: "slider", id: "target_score"%>
      <datalist id="values">
      <option value="40" label="Pass"></option>
      <option value="50" label="2:2"></option>
      <option value="60" label="2:1"></option>
      <option value="70" label="First"></option>
    </datalist>
    </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Delete my account</h3>

<div>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
