<p style="color: green"><%= notice %></p>

<div class="module">
  <%= render @course_module %>
  <div class="score-bar">
    <div class="bar-background">
      <div class="bar" style="width: <%= get_module_score(@course_module) %>%;">
        <p><%= get_module_score(@course_module).round(2) %>%</p>
      </div>
    </div>
  </div>
</div>

<div class="button-wrapper">
  <%= link_to "Edit", edit_course_module_path(@course_module), class: "utility-button" %>
  <%= link_to "Add test", new_test_path(:module_id => @course_module.id), class: "utility-button" %>
  <%= link_to "Back", year_path(@year), class: "utility-button" %>
</div>
<br>
<%= button_to "Remove Module", @course_module, method: :delete, class: "delete-button" %>
<hr>

<% @module_tests.each do |t| %>
  <%= link_to test_path(t), class: "module hoverable", style: "display:block" do %>
      <% if t.is_threshold %>
        <p><span class="module-name"><%= h "#{t.name}" %></span></p>
        <% if t.pass %>
          <strong style="color:var(--green-color)">
        <% else %>
          <strong style="color:red">
        <% end %>
          <%= "#{t.pass ? "PASS" : "FAIL"}" %></strong>
      <% else %>
        <p><span class="module-name"><%= h "#{t.name}" %></span></p>
        <div class="score-bar">
          <div class="bar-background">
            <div class="bar" style="width: <%= get_test_score(t) %>%; background: var(--<%= get_score_colour(get_test_score(t).round(2)) %>-color)">
              <p><%= get_test_score(t).round(2) %>%</p>
            </div>
            <div class="target-mark" style="margin: 0 0 0 <%= current_user.target_score %>%" ></div>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>