<p style="color: green"><%= notice %></p>

<div class="module">
  <%= render @course_module %>
  <div class="score-bar">
    <div class="bar-background">
      <div class="bar" style="width: <%= get_module_score(@course_module) %>%;">
        <p><%= get_module_score(@course_module) %>%</p>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit", edit_course_module_path(@course_module), class: "utility-button" %>
  <%= link_to "Back", year_path(@year), class: "utility-button" %>
</div>

<% @module_tests.each do |t| %>
  <div class="module">
    <p>
      <% if t.is_threshold %>
        <span class="module-name"><%= link_to "#{t.name}", test_path(t), class: "module-name"%></span>
        <% if t.pass %>
          <p style="color:green">
        <% else %>
          <p style="color:red">
        <% end %>
          <%= "#{t.pass ? "PASS" : "FAIL"}" %></p>
      <% else %>
        <span class="module-name"><%= "#{t.name}" %></span><%= link_to "Show", test_path(t), style: "display:inline", class: "utility-button" %>
        <div class="score-bar">
          <div class="bar-background">
            <div class="bar" style="width: <%= get_test_score(t) %>%;">
              <p><%= get_test_score(t) %>%</p>
            </div>
          </div>
        </div>
      <% end %>
    </p>
  </div>
<% end %>

<%= link_to "Add test", new_test_path(:module_id => @course_module.id), class: "utility-button" %>
<br>
<%= button_to "Remove Module", @course_module, method: :delete, class: "delete-button" %>