<div id="<%= dom_id test %>">
  <p>
    <strong>Name:</strong>
    <%= test.name %>
  </p>

  <p>
    <strong>Course module:</strong>
    <%= CourseModule.where(id: test.course_module_id).first.module_name %>
  </p>

  <p>
    <strong>Max score:</strong>
    <%= test.max_score %>
  </p>

  <p>
    <strong>Earned score:</strong>
    <%= test.earned_score %>
  </p>

  <p>
    <strong>Is threshold:</strong>
    <%= test.is_threshold %>
  </p>

  <% if test.is_threshold %>
    <p>
      <strong>Pass:</strong>
      <%= test.pass %>
    </p>
  <% end %>

  <p>
    <strong>Weight:</strong>
    <%= test.weight %>
  </p>

</div>
