<p style="color: green"><%= notice %></p>
<div id="years">
  <% @years.each do |year| %>
    <%= link_to year, style: "display:block", class: "module hoverable" do %>
      <%= render year %>
      <div class="score-bar">
        <div class="bar-background">
          <div class="bar" style="width: <%= get_year_score(year).round(2) %>%; background: var(--<%= get_score_colour(get_year_score(year).round(2)) %>-color)">
            <p><%= get_year_score(year).round(2) %>%</p>
          </div>
          <div class="target-mark" style="margin: 0 0 0 <%= current_user.target_score %>%" ></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New year", new_year_path, class: "utility-button" %>
