<p style="color: green"><%= notice %></p>

<%= render @year %>

<div>
  <%= link_to "Edit this year", edit_year_path(@year) %> |
  <%= link_to "Back to years", years_path %>

  <%= button_to "Destroy this year", @year, method: :delete %>
</div>

<p>Total score: <%= @total_score %>%</p>

<% @modules.each do |m| %>
  <p><%= link_to m.module_name, course_module_path(m) %></p>
<% end %>
<%= link_to "Add Module", new_course_module_path %>
